@page
@model AZURE_APP_Service_test.Pages.DeploymentSlotModel
@{
    ViewData["Title"] = "Deployment Slot"; 
}


<div class="text-center">
    <h1 class="display-4">
        Testing Deployment Slots
    </h1>
    
    <h3>
        Validating The Deployment Slot is working fine and the changes are reflected in the Deployment Slot.
    </h3>
    
</div>